.resource-button {
    width: 100px;
    border-radius: 3px;
    border-style: none;
    color: white;
    background-color: rgb(62,142,247);
    height: 30px;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    user-select: none;
}
.resource-button:hover {
    outline: none;
    background-color: rgb(0, 107, 173);
}
.description-box {
    resize: none;
    overflow: hidden;
}
.resource-header:hover {
    cursor: pointer;
    color: rgb(126, 185, 229);
    user-select: none;
}
.pubs-container {
    display: none;
}
.res-tab-data {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
    cursor: pointer;
}
.res-tab-data-clicked {
    white-space: normal;
    text-overflow: inherit;
    max-width: none;
    overflow: auto;
    cursor: pointer;
}
.lec-select {
    appearance: none;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(231,237,238);
    padding: 6px;
    padding-left: 15px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: rgb(169,181,188);
}
.lec-select:focus {
    outline: none;
}
.lec-select-option {
    outline: none;
}