.resource-button {
    width: 100px;
    border-radius: 3px;
    border-style: none;
    color: white;
    background-color: rgb(62,142,247);
    height: 30px;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    user-select: none;
}
.resource-button:hover {
    outline: none;
    background-color: rgb(0, 107, 173);
}
.description-box {
    resize: none;
    overflow: hidden;
}
.resource-header:hover {
    cursor: pointer;
    color: rgb(126, 185, 229);
    user-select: none;
}
.pubs-container {
    display: none;
}
.res-tab-data {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
    cursor: pointer;
}
.res-tab-data-clicked {
    white-space: normal;
    text-overflow: inherit;
    max-width: none;
    overflow: auto;
    cursor: pointer;
}
select {
    appearance: none;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(231,237,238);
    padding: 6px;
    padding-left: 15px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
select[data-chosen=""] {
    color: rgb(169,181,188);
}
select:focus {
    outline: none;
}
.lec-select-option {
    outline: none;
}
option {
    color: black;
}
option[value=""] {
    color: rgb(169,181,188);
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}